$grisFondo:#1c1c21;
$blancoTexto:whitesmoke;
$morado:#55578a;
$fuenteTexto: "Minion Pro";
$fuenteTextoImportante: "Minion Pro Semibold";
$fuenteTextoLindo: "Dancing Script";
$fuenteTitulo: "Bebas Neue";